body {
    background-color: #064142;
    background-image: url(../imgs/patron.png);
    background-repeat: repeat;
    background-size: 1000px 1000px;
    background-blend-mode: screen;
    font-family: "Outfit", sans-serif;
    color: white;
    align-content: center;
}
#fotoperfil {
    mask-image: radial-gradient(circle 280px at 55% 46%, black 60%, transparent 65%);
    box-shadow: white -8px 3px 10px 3px;
    max-width: 500px;
    max-height: 500px;
    margin-top: -60px;
    margin-left: -102px;
    display: block;
}
header {
    border: 1px solid white;
    background-repeat: no-repeat;
    background-size: 550px 800px;
    box-shadow: #CCA9DA -8px 3px 10px 3px, #09979F 8px 0px 10px 3px;
    margin: 5px;
    margin-right: 300px;
    margin-left: 100px;
    padding-left: 20px;
    max-width: 300px;
    max-height: 600px;
    min-width: 300px;
    min-height: 600px;
    padding-right: 60px;
    border-radius: 5%;
    padding-top: 35px;
}
header>h1 {
    margin: 85px;
    margin-top: -10px;
    text-shadow: black -5px 2px 1px, black 5px 2px 1px;
    font-size: 30px;
}
body>header>p {
    padding-top: -200px;
    margin-top: -35px;
    margin-left: 70px;
    text-shadow: black -5px 2px 1px, black 5px 2px 1px;
    font-size: 30px;
}
main {
    border: 1px solid white;
    background-color: #064142;
    box-sizing: border-box;
    width: 360px;
    border-radius: 5px;
    margin-left: 570px;
    margin-top: -600px;
    font-size: 20px;
    box-shadow: #CCA9DA 0px 1px 10px 5px;
    text-align: center;
}
ul {
    list-style: none;
    padding-left: 0px;
}
main>h2 {
    text-align: center;
    text-shadow: black -5px 2px 1px, black 5px 2px 1px;

}
#descripcionpersonal {
    box-sizing: border-box;
    background-color: #064142;
    border: 1px solid white;
    width: 360px;
    border-radius: 5px;
    margin-left: 570px;
    margin-top: 30px;
    font-size: 20px;
    box-shadow:#09979F 0px 1px 10px 5px;
    text-align: center;
    padding: 10px;
}
#misredes {
    box-sizing: border-box;
    background-color: #064142;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: #CCA9DA -8px 3px 10px 3px, #09979F 8px 0px 10px 3px;
    padding: 10px;
    margin-left: 1060px;
    margin-top: -550px;
    margin-bottom: 5px;
    width: 150px;
    height: 270px;
    max-height: 310px;
    max-width: 280px;
}

#github-href{
    display: block;
    padding: 2px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 15px;

}
#github-href:hover {
    background-color: #405685;
    border-radius: 10%;
    mask-image: radial-gradient(circle 75px at 50% 50%, black 60%, transparent 90%);
}
#steam-href {
    display: block;
    padding: 2px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 15px;
}
#steam-href:hover {
    background-color: #837574;
    border-radius: 10%;
    mask-image: radial-gradient(circle 75px at 50% 50%, black 60%, transparent 90%);
}
#twitch-href {
    display: block;
    padding: 2px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    text-align: center;
}
#twitch-href:hover {
    background-color: #6441a5;
    border-radius: 10%;
    mask-image: radial-gradient(circle 75px at 50% 50%, black 60%, transparent 90%);
}
#tiktok-href {
    display: block;
    padding: 2px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    text-align: center;
}
#tiktok-href:hover {
    background-color: #ff0067;
    border-radius: 10%;
    mask-image: radial-gradient(circle 75px at 50% 50%, black 60%, transparent 90%);

}
.tituloboxh3 {
    text-shadow: black -5px 2px 1px, black 5px 2px 1px;
    text-align: center;
    font-size: 26px;
}
.titleformp {
    padding-top: 120px;
    padding-right: 30px;
    text-shadow: black -5px 2px 1px, black 5px 2px 1px;
    font-size: 20px;
}
#flechaformulario {
    padding-top: -20px;
}
.formulariocontacto {
    padding-top: 330px;
    max-width: 1020px;
    max-height: 200px;
    padding-left: 10%;
}
.fieldsetform {
    border-style: groove;
    border-radius: 5px 5px;
    padding: 2px;
    margin: 50px;
    margin-left: -20px;
    background-color: #064142;
    border: 2px solid white;
    text-align: center;
    min-width: 1050px ;
    max-width: 1050px;
    min-height: 90px;
    max-height: 90px;
}
.inputformulario {
    color: white;
    text-align: center;
    padding: 6px;
    margin: 7px;
    max-width: 140px;
    max-height: 150px;
    background-color: #064142;
    border-color: white;
    box-shadow: #CCA9DA 0px 1px 10px 1px;
    border-radius: 5px 5px;
    font-family: "Outfit", sans-serif;
}
#Telefono::-webkit-inner-spin-button, 
#Telefono::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 

}
#Country {
    -moz-appearance: none;
    -webkit-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
    appearance:none;
    color: white;
    text-align: center;
    white-space: 40px;
    border-spacing: 80px;
    padding: 6px;
    margin: 7px;
    max-width: 200px;
    max-height: 200px;
    background-color: #064142;
    border-color: white;
    box-shadow: #CCA9DA 0px 1px 10px 1px;
    border-radius: 5px 5px;
    font-family: "Outfit", sans-serif;
    align-self: center;
}
#Country:hover {
    cursor: pointer;
}
.inputformulariotext {
    display: block;
    background-color: #064142;
    color: white;
    padding: 6px;
    margin: 7px;
    color: white;
    max-width: 450px;
    max-height: 245px;
    min-width: 450px;
    min-height: 245px;
    border-color: white;
    border-style: groove;
    border-radius: 5px 5px;
}
#fieldset-textarea {
    background-color: #064142;
    text-align: center;
    margin-left: 260px;
    margin-right: 260px;
    border: 2px solid white;
    border-radius: 5px 5px;
}

#Terms {
    color: white;
    text-decoration: double;
    font-style: oblique;
    padding: 5px;
}
#Terms:hover {
    color:  #CCA9DA;
}
.botton-form {
    color: white;
    background-color: transparent;
    margin: 3px;
    padding: 7px;
    font-size: 15px;
    border-bottom: 5px;
    border-radius: 5px;
    border-color: white;
    box-shadow: #CCA9DA 0px 1px 10px 1px;
}
.botton-form:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
#botones-divform {
    padding-top: 5px;
}
::placeholder {
    color: white;
    text-align: center;
}
#checkboxterms:hover {
    box-sizing: border-box;
    cursor: pointer;
}
